.navbar-nav{
    margin-left: 50%;
}

body{
    background-color: rgb(149, 153, 145);
    margin-left: 11%;
    margin-right: 11%;
}
#imageone{
    margin-top: 8px;
    height: 40px;
    width: 40px;
    border: 1px solid red;
    border-radius: 50%;
}
.navbar-brand{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-style: oblique;
    color: rgb(12, 2, 4);
}
.navbar{
    background-color: rgb(255, 0, 140);
    border-radius: 2%;
}
.d-block{
    height: 50vh;
}
#hfive{
    color: rgb(243, 17, 17);
}
#hfour{
    color: rgb(50, 247, 1);
}
#imgmale{
    width: 50px;
    height: 50px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
}
.col-6{
    border: 1px solid whitesmoke;
    background-image: url('images/backg.png');

}
.col-12{
    border: 1px solid yellowgreen;
}
.jumbotron{
    text-align: center;
}
h4{
    text-decoration: underline;
}
.malefemale{
    margin-left: 12%;
    margin-right: 12%;
}
.allgender{
    margin-left: 24%;
    margin-right: 24%;
}
.imgfooter{
    width: 40px;
    height: 40px;
    border: 1px solid yellow;
    border-radius: 50%;
    text-align: center;
}
#rowfooter{
    text-align: center;
}
.footer{
    background-color: rgb(83, 59, 59);
}
#para{
    color: whitesmoke;
}
.btn{
    text-align: center;
}
.row button{
    text-align: center;
}
.nav-item:hover{
    background-color: rgb(162, 152, 219);
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid greenyellow;
    border-radius: 79%;
    font-weight: bolder;
    text-decoration: underline;
    text-emphasis-color: red;
}